<header><h1>ברוכים הבאים לעיריית אריאל</h1></header>
<p class="detail">השם אריאל הוא שם נרדף לירושלים ולבית המקדש ונלקח מהתנ"ך:

    "הוי אריאל קריית חנה דוד ספו על שנה חגים ינקפו... " (ישעיהו, כ"ט, א')
    
    אריאל הוקמה באוגוסט 1978 ע"י גרעין תל אביב על פי החלטת ממשלת ישראל. המתיישבים הראשונים היו 40 משפחות מעובדי התעשייה הצבאית והאווירית. 
    
    רון נחמן ז"ל, עמד בראש הגרעין של מייסדי אריאל. </p>
    <div><img src="https://ariel.localtimeline.com/images/ar1.jpg" style="width: 620px;height:max-content;" alt="sh"></div>
    