<div class="container">
  <img src="https://www.ariel.muni.il/content/images/logo-rubik.png" alt="ariel-ico">

  <nav>
    <a class="btn btn-success" [routerLink]="['employees']">עובדי-עירייה</a>
    <a class="btn btn-success" routerLink="/residents">תושבים</a> 
    <a class="btn btn-success" routerLink="/businesses">עסקים</a>
    <a class="btn btn-success" routerLink="/events">אירועים</a>
  </nav>
  
  <router-outlet></router-outlet>
  <app-header></app-header>
  
  <br/>
  <app-footer></app-footer>
</div>

